@model IEnumerable<Model.UserGrid>

@{
    ViewBag.Title = "Index";
}

<h2>Usarios</h2>
<table class="table table-striped">
    <tbody>
        @foreach (var m in Model)
        {
        <tr>
            <td>
                <a href="~/user/get/@m.Id">
                    @m.Name
                </a>
            </td>
            <td>
                @m.LastName
            </td>
            <td>
                @m.Email
            </td>
            <td>
                @m.Role
            </td>
        </tr>
        }
    </tbody>
</table>